.text-field {
  border: 1px solid rgba(203, 213, 224);
  border-radius: 5px;
  width: 100%;
  padding: 0.75rem;
  outline: 0;
  font-weight: 400;
}

.text-field:hover,
.text-field:focus {
  border: 1px solid #009688;
  background-color: white;
}

.text-field:after {
  box-sizing: border-box;
  border: 1px solid #e2e8f0;
}

.text-field::placeholder {
  color: rgba(203, 213, 224);
}
