.author-page {
  font-size: x-large;
  font-weight: bold;
  margin-top: 50px;
  text-align: center;
}

.author-page_name {
  margin-top: 25px;
}

.author-page_image {
  display: block;
  width: 15%;
  height: 15%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.author-page_social {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.author-page_social-github,
.author-page_social-linkedin {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  color: black;
}

.author-page_social-linkedin-image,
.author-page_social-github-image {
  width: 35px;
  padding: 5px;
}
