.message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 50px;
  height: auto;
  font-weight: bold;
  font-size: 23px;
  margin-top: 5px;
}

.error {
  border: 1px solid black;
  border-radius: 10px;
  color: black;
  background-color: red;
}

.warning {
  border: 1px solid black;
  border-radius: 10px;
  background-color: yellow;
  color: black;
}

.success {
  border: 1px solid black;
  border-radius: 10px;
  background-color: green;
  color: black;
}
